/* Header Styles */


header {
    height: 75px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    float: left;
}

.left button {
    height: 20px;
    justify-content: center;
}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right button {
    width: 100px;
    margin-bottom: 10px;
<<<<<<< HEAD
    justify-content: center;  
=======
    
>>>>>>> a64273ab41477ae0feb7a6d5a81e0796b39746df
}

button#home {
    border-radius: 5px;
    background-color:rgb(232, 216, 167);
    justify-content: center;
}
button#logout {
    border-radius: 5px;
    background-color:rgb(232, 216, 167);
    justify-content: center;
}
button#community-board {
    height: 40px;
    border-radius: 5px;
    background-color:rgb(232, 216, 167);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* Body Styles start */


.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    position: relative;
    flex-direction: row;
}
img {
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    border: solid 1px;
    padding: 10px;
    
}

/* Left Side of Shop-Info Styling */
    /* Shop Info */
.shop-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.794);
}

.shop-info {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.shop-info > * {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.shop-info a {
    color: black;
    background-color: rgba(255, 255, 255, 0.794);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
a:hover {
    opacity: 0.55;
}
h2 {
    font-size: 2rem;
    color: white;
}
h3 {
    font-size: 1.8rem;
    color: white;
    background-color: rgb(131, 86, 30, 0.743);
}
p {
    font-size: 1.3rem;
    text-align: center;
}
h4 {
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(131, 86, 30, 0.743);
}

.reviews-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    padding: 10px;
    bottom: 200px
}

.reviews-form form {
    display: flex;
    flex-direction: column;
}

.reviews-form input {
    height: 100px;
    width: 300px;
}

.reviews-form select, button {
    width: fit-content;
    display: flex;
    margin-top: 3px;
}


/* Right Side of Shop-Info Styling */

.reviews-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 3px solid black;
    column-gap: 20px;
    padding: 10px;
    
    margin-right: 50px;
}

/* Set up alternating CSS Rules to anchor every 
second review to the right of the container */

.review {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    width: 75%;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.80);
    padding: 30px;
    border-radius: 5px;
}

.review:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.review:hover::after {
    content: '❌';
}

body {
    background-image: url(../assets/AdobeStock_383284691_Preview\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}