header {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    float: left;
}

.left button {
    height: 20px;

}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right button {
    width: 100px;
    margin-bottom: 10px;
}


 /* Body Styles start */


.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    position: relative;
    flex-direction: row;
}


/* Left Side of Shop-Info Styling */
    /* Shop Info */
.shop-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.shop-info {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.shop-info img {
    width: 200px;
}

/* Add Review Form */

.reviews-form {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 10px;
    bottom: 200px
}

.reviews-form form {
    display: flex;
    flex-direction: column;
}

.reviews-form input {
    height: 150px;
    width: 300px;
}

.reviews-form select, button {
    width: fit-content;
    display:inline-flex;

}


/* Right Side of Shop-Info Styling */

.reviews-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 3px solid red;
    column-gap: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
}