header {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    float: left;
}

/* .left button {
    height: 20px;

} */

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right button {
    width: 100px;
    margin-bottom: 10px;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#style {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}
img {

    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border: solid 1px rgb(231, 223, 223);
    
}
.shops {
    margin: 20px;
    text-align: center;
    border: solid 2px;   
    width: 400px;
    height: 400px;
    /* background-color: rgba(131, 86, 30, 0.743); */
    background-color: rgba(131, 86, 30, 0.743);
    backdrop-filter: saturate(150%) blur(15%);
    
}
.shops:hover {
    opacity: 0.75;
}
h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(231, 223, 223);
    text-shadow: 0 0 3px black;
}
/* h2 {
    color: rgb(231, 223, 223);
} */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/AdobeStock_170712686_Preview.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button {
    height: 40px;
    border-radius: 5px;
    background-color:rgb(232, 216, 167);
}
button:hover {
    opacity: 0.85;
}
a {
    color: rgb(0, 0, 0);
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}