/* Header Styling */
body {
    font-family: 'Roboto', sans-serif;
    
}
button {
    cursor: pointer;
}
header {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    float: left;
}

.left button {
    height: 20px;

}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right button {
    width: 100px;
    margin-bottom: 10px;
    z-index: 20;
}


/* Sign-Up/Login Form Pop Out*/
.dropdown {
    display: none;
    position: absolute;
    top: -10px;
    right: 50px;
    z-index: 10;
    background-color:antiquewhite;
}

.auth-forms {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.auth-forms form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
}

.auth-forms button {
    width: fit-content;
    align-self: center;
}

 /* Body Styles start */
 a {
    color: black;
    background-color: rgba(245, 245, 245, 0.721);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgb(33 33 33 / 70%);
    
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80%;
    height: 450px;
    position: relative;
    background-image: url(../assets/taco-map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    box-shadow: rgb(79, 85, 247) 0px 0px 0px 3px, rgb(19, 234, 15) 0px 0px 0px 6px, rgb(235, 255, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    margin: 20px;
    
}

.Northwest {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 100px;
    left: 25%;
    padding: 0;
    margin: 0;
}

.Northeast {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 105px;
    left: 60%;
}

.Southwest {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 300px;
    left: 25%;
}

.Southeast {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 300px;
    left: 60%;
}
