/* Universal Styling */
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');


button {
    height: 40px;
    border-radius: 5px;
    background-color:rgb(232, 216, 167);
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

a {
    color: rgb(0, 0, 0);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgb(33 33 33 / 70%);
    width: 100px;
    height: 50px;
    background-size: contain;
    background-color: rgba(201, 113, 59, 0.865);
}

/* Header Styling */


header {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    float: left;
}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right button {
    width: 100px;
    margin-bottom: 10px;
    z-index: 20;
}


.hide {
    display:none;
}

/* Sign-Up/Login Form Pop Out*/


.dropdown {
    display: none;
    position: absolute;
    top: -10px;
    right: 50px;
    z-index: 10;
    background-color:antiquewhite;
}

.auth-forms {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.auth-forms form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
}

.auth-forms button {
    width: fit-content;
    align-self: center;
}

 /* Body Styles start */

h1 {
    font-size:90px;
    font-family: 'Permanent Marker';
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px #214aedb8, 20px 20px #000000;
    margin-bottom: 0%;
}

 body {
    background-image: url(../assets/AdobeStock_293514302.jpeg);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-attachment: fixed;
    /* font-family: 'Roboto', sans-serif; */
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

/* h1 {
    font-family: 'Permanent Marker';
    font-size: 4rem;
    margin: 0%;
} */   

section {
    width: 70%;
    height: 450px;
    position: relative;
    background-image: url(../assets/taco-map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    box-shadow: rgb(79, 85, 247) 0px 0px 0px 3px, rgb(19, 234, 15) 0px 0px 0px 6px, rgb(235, 255, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgb(33 33 33 / 70%);
}

.Northwest {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 100px;
    left: 25%;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: contain;
    justify-content: flex-end;
}

.Northeast {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 105px;
    left: 60%;
    background-position: center;
    background-size: contain;
}

.Southwest {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 300px;
    left: 25%;
    background-position: center;
    background-size: contain;
}

.Southeast {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200px;
    top: 300px;
    left: 60%;
    background-position: center;
    background-size: contain;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 150px;
    width: 100%;
    overflow-x: auto;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 10px;
}


