header {
    height: 75px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    float: left;
    
}

.left button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color:rgb(232, 216, 167);
    


}

.right {
    width: 50vw;
    display: flex;
    float: right;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.right button {
    height: 30px;
    width: 100px;
    float: right;
    border-radius: 5px;
    background-color:rgb(232, 216, 167);

}
header {
    height: 75px;
    display: flex;
    flex-direction: row;
}
footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: 500px;
}
#tacoBoutIt {
    width: 10vw;
    display: flex;
    float: right;   
}
#community-board {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-top: 300px;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.community-post {
    background-image: url(../assets/dt-taco-hungry.jpeg);
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 355px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    text-align: start;
}
p {
    padding: 20px;
    font-size: 1.1rem;
    width: 200px;
    margin-top: 25px;
    
}
input#new_post {
    height: 200px;
    width: 200px;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: antiquewhite;
    bottom: 300px;
    right: 800px;
    border-radius: 10px;
    padding: 20px;
    border: solid 2px;
    box-shadow: 5px 5px 7px rgb(33 33 33 / 70%);
}

form {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#create {
    z-index: 20;
    margin-right: 20px;
    height: 50px;
    background-color:rgb(232, 216, 167);
    border-radius: 5px;
    width: 150px;

}

body {
    background-image: url(../assets/tacopartypreview.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

    