header {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    float: left;
}

.left button {
    height: 20px;

}

.right {
    width: 50vw;
    display: flex;
    float: right;
}

.right button {
    height: 20px;
}